CREATE TABLE IF NOT EXISTS payment_logs (id BIGINT AUTO_INCREMENT PRIMARY KEY, order_id BIGINT NOT NULL, transaction_code VARCHAR(100), authorization_code VARCHAR(50), action_code VARCHAR(10), action_description VARCHAR(255), amount DOUBLE, card_brand VARCHAR(50), card_number VARCHAR(50), created_at DATETIME(6), CONSTRAINT fk_payment_logs_order FOREIGN KEY (order_id) REFERENCES orders (id));
